<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="/assets/css/style.css">
        <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {% include 'layout/navbar.html.twig' %}
        {% block body %}{% endblock %}
    {% include 'layout/footer.html.twig' %}
    #Bootstrap core JavaScript
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
